html, body, .container-fluid, .row {
	height: 100%;
}

/* Sidebar */
.sidebar {
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: block;
	overflow: hidden;
	padding: 0;
	text-align: center;
}

.sidebar-options {
	height: 16.66%;
	border: 2px solid red;
	background: #5c5c5c;
	color: #fff;
}

#home-option {
	height: 50%;
	border: 2px solid blue;
}

/*Receipt bar*/
#receipt-bar {
	left: auto;
	right: 0;
	background: #993399;
	overflow-x: hidden;
	transition: .5s;
	padding: 10px;
}

/* Main content */
.contact-info {
	height: auto;
	padding: 3px 10px;
	color: #fff;
	background: #3a3a3a;
	border: 2px solid green;
}

.page-content {
	background: #f9f8b1;
	padding: 30px;
}

