
/* To allow child elements to fill the entire screen*/
html, body, .container-fluid, .row {
	height: 100%; 
	padding: 0;
}

/* Use this alongside row when you have multiple rows in a page*/
.content-row {
	height: auto;
}

.container-fluid {
	border: 2px solid red;
}

/*************** Sidebar **************/
.sidebar {
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: block;
	overflow: hidden;
	/*padding: 0;*/

	border: 2px solid pink;
}

/* Sidebar options*/
.sidebar-options {
	width: 100%;
	height: 16.66%;
	

	border: 2px solid purple;
}

#home-option {
	height: 50%;
}

/***************** Main Container *******************/
.main-container {

	/* Allow contact info and page contact fit in one screen*/
	display: flex;
	flex-direction: column;
}


/* Contact Info */
.contact-info {
	height: auto;
	color: #fff;
	background: #3a3a3a;
	padding: 3px 10px;

	border: 2px solid green;
}

/* Page Content */
.page-container {
	background: #f9f8b1;
	padding: 10px;

	border: 2px solid brown;
}

.page-content {
	display: none;
	width: 100%;
	
	border: 2px solid orange;
}

/* Place this after page-content to show home-page from beginning*/
#home-option-page {
	display: block;
}

.page-heading {
	text-align: center;
}

/* Carousel*/
.carousel-inner {

	/* Make it smaller*/
	margin: 0 auto;
	width: 80%;
}

/******************* Receipt Bar ******************/
#receipt-bar {
	left: auto;
	right: 0;
	overflow-x: hidden;
	padding: 10px;

	border: 2px solid yellow;

}